*.iml
.idea/
target/
local/
log/
temp/
dependency-reduced-pom.xml

/app-client/node_modules/
/app-client/node/
/app-client/dist/
/app-client/npm-debug.log
/app-client/.tscache
/app-client/src/version-info.ts
